openapi: 3.0.3
info:
  title: Ahost Bilişim API
  description: |
    Hosting/domain/dijital hizmet yönetim platformu — herkese açık ve müşteri paneli API'leri.

    **Kimlik doğrulama:**
    - Ziyaretçi/public endpoint'ler: CSRF token
    - Müşteri paneli: Session cookie + CSRF
    - Admin paneli: Session cookie + CSRF + admin_auth middleware

    **Rate limit:** IP başına dakikada 60 istek (SettingsManager'dan ayarlanır).
  version: 1.0.0
  contact:
    name: Ahost Destek
    email: destek@ahost.web.tr
    url: https://ahost.web.tr
  license:
    name: Proprietary

servers:
  - url: https://ahost.web.tr
    description: Production
  - url: http://127.0.0.1:8092
    description: Local development

tags:
  - name: Public
    description: Ziyaretçi endpoint'leri (giriş gerekmez)
  - name: Domain
    description: Domain sorgulama, WHOIS, DNS
  - name: SiteTools
    description: 18 site aracı (SSL, DNS, SEO, Değerleme vb.)
  - name: Cart
    description: Sepet işlemleri
  - name: Checkout
    description: Ödeme akışı
  - name: Customer
    description: Müşteri paneli (giriş gerekli)
  - name: AI
    description: AI chat + tool calling
  - name: Import
    description: WHMCS/WISECP/Blesta veri aktarımı (admin)
  - name: Admin
    description: Admin panel API'leri

paths:
  # ────────── PUBLIC ──────────
  /:
    get:
      tags: [Public]
      summary: Ana sayfa
      responses:
        '200': {description: HTML}

  /domain:
    get:
      tags: [Domain]
      summary: Domain sorgulama sayfası
      responses:
        '200': {description: HTML}

  /api/domain/check:
    post:
      tags: [Domain]
      summary: Domain müsaitlik kontrolü
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [_csrf, domain]
              properties:
                _csrf: {type: string}
                domain: {type: string, example: "ornek.com"}
      responses:
        '200':
          description: Sonuç
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: {type: boolean}
                  available: {type: boolean}
                  price: {type: number}
                  currency: {type: string}
                  suggestions:
                    type: array
                    items: {type: string}

  /site-araclari/{tool}:
    get:
      tags: [SiteTools]
      summary: Site aracı çalıştır
      parameters:
        - name: tool
          in: path
          required: true
          schema:
            type: string
            enum: [whois, dns, ssl, seo, site-analiz, domain-degerleme, ip-lookup, ping, speed, sitemap, robots, meta, image-alt, link-analyze, http-header, security-headers]
        - name: target
          in: query
          required: true
          schema: {type: string}
      responses:
        '200': {description: JSON veya HTML sonuç}

  # ────────── SEPET ──────────
  /sepet:
    get:
      tags: [Cart]
      summary: Sepeti göster
      responses:
        '200': {description: HTML}

  /sepet/ekle:
    post:
      tags: [Cart]
      summary: Sepete ürün ekle
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [_csrf, product_id, period]
              properties:
                _csrf: {type: string}
                product_id: {type: integer}
                period: {type: string, enum: [monthly, quarterly, semiannually, annually, biennially, triennially]}
                quantity: {type: integer, default: 1}
                domain_action: {type: string, enum: [new, transfer, existing]}
                domain_name: {type: string}
                addons: {type: array, items: {type: integer}}
                custom_fields: {type: object, additionalProperties: {type: string}}
                options: {type: object, description: "Paket opsiyonları [option_id => value_id]"}
      responses:
        '302': {description: Sepete redirect}

  # ────────── MÜŞTERİ ──────────
  /giris:
    get: {tags: [Customer], summary: Giriş formu, responses: {'200': {description: HTML}}}
    post:
      tags: [Customer]
      summary: E-posta + şifre ile giriş
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [_csrf, email, password]
              properties:
                _csrf: {type: string}
                email: {type: string, format: email}
                password: {type: string, format: password}
      responses:
        '302': {description: Panele yönlendirme}
        '419': {description: CSRF geçersiz}

  /giris/sms:
    get: {tags: [Customer], summary: SMS ile giriş formu, responses: {'200': {description: HTML}}}

  /giris/sms/kod-gonder:
    post:
      tags: [Customer]
      summary: SMS OTP kodu gönder
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [_csrf, phone]
              properties:
                _csrf: {type: string}
                phone: {type: string, example: "05551234567"}
      responses:
        '302': {description: Kod girme sayfasına redirect}

  /panel:
    get:
      tags: [Customer]
      summary: Müşteri dashboard
      security: [{sessionAuth: []}]
      responses:
        '200': {description: HTML}
        '302': {description: Login'e redirect (auth yok)}

  # ────────── AI ──────────
  /ai/customer:
    post:
      tags: [AI]
      summary: Müşteri AI chat (Tool calling ile)
      security: [{sessionAuth: []}]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [_csrf, message]
              properties:
                _csrf: {type: string}
                message: {type: string, maxLength: 2000, example: "hizmet özet göster"}
      responses:
        '200':
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AiResponse'}

  /ai/admin:
    post:
      tags: [AI]
      summary: Admin AI chat (Tool calling)
      security: [{adminAuth: []}]
      requestBody:
        $ref: '#/components/requestBodies/AiChat'
      responses:
        '200': {content: {application/json: {schema: {$ref: '#/components/schemas/AiResponse'}}}}

  /ai/builder:
    post:
      tags: [AI]
      summary: Builder AI (blok ekle, palet değiştir vb.)
      security: [{sessionAuth: []}]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [_csrf, project_id, message]
              properties:
                _csrf: {type: string}
                project_id: {type: integer}
                message: {type: string, example: "hero blok ekle"}
      responses:
        '200': {content: {application/json: {schema: {$ref: '#/components/schemas/AiResponse'}}}}

  /ai/site-olustur:
    get:
      tags: [AI]
      summary: AI ile sıfırdan site/mobile app üretme formu
      parameters:
        - name: kind
          in: query
          schema: {type: string, enum: [site, mobile], default: site}
      responses:
        '200': {description: HTML}

  # ────────── ADMIN IMPORT ──────────
  /admin/veri-aktarimi:
    get:
      tags: [Import]
      summary: Import kaynakları listesi (WHMCS, WISECP, Blesta)
      security: [{adminAuth: []}]
      responses:
        '200': {description: HTML}

  /admin/veri-aktarimi/baglan/{source}:
    get:
      tags: [Import]
      summary: Kaynak DB bağlantı formu
      security: [{adminAuth: []}]
      parameters:
        - name: source
          in: path
          required: true
          schema: {type: string, enum: [whmcs, wisecp, blesta]}
      responses:
        '200': {description: HTML}

  /admin/veri-aktarimi/baglan/{source}/test:
    post:
      tags: [Import]
      summary: Bağlantı testi (DB'ye bağlanmayı ve sayımları döndürür)
      security: [{adminAuth: []}]
      parameters:
        - name: source
          in: path
          required: true
          schema: {type: string, enum: [whmcs, wisecp, blesta]}
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _csrf: {type: string}
                config[host]: {type: string}
                config[port]: {type: integer, default: 3306}
                config[database]: {type: string}
                config[username]: {type: string}
                config[password]: {type: string}
                config[prefix]: {type: string, description: "WHMCS: tbl"}
      responses:
        '302': {description: Sonuç sayfasına redirect}

  # ────────── ADMIN: Paket Opsiyonları ──────────
  /admin/paket-opsiyonlari:
    get:
      tags: [Admin]
      summary: Paket opsiyonları listesi
      security: [{adminAuth: []}]
      responses:
        '200': {description: HTML}

  /admin/paket-opsiyonlari/kaydet:
    post:
      tags: [Admin]
      summary: Yeni opsiyon oluştur (Lokasyon, Panel, OS vb.)
      security: [{adminAuth: []}]
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _csrf: {type: string}
                name: {type: string, example: "Sunucu Lokasyonu"}
                input_type: {type: string, enum: [select, radio, checkbox]}
                is_required: {type: integer, enum: [0, 1]}
                is_active: {type: integer, enum: [0, 1]}
                "values[0][label]": {type: string}
                "values[0][price_delta]": {type: number}
                "values[0][currency]": {type: string, default: TRY}
      responses:
        '302': {description: Düzenleme sayfasına redirect}

  /health:
    get:
      tags: [Public]
      summary: Health check endpoint (k8s liveness/readiness için)
      responses:
        '200':
          description: Sistem sağlıklı
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, example: ok}
                  db: {type: string, example: connected}
                  timestamp: {type: string, format: date-time}

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: PHPSESSID
    adminAuth:
      type: apiKey
      in: cookie
      name: PHPSESSID
      description: Admin oturumu — admin_auth middleware kontrol eder

  requestBodies:
    AiChat:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            required: [_csrf, message]
            properties:
              _csrf: {type: string}
              message: {type: string, maxLength: 2000}

  schemas:
    AiResponse:
      type: object
      properties:
        ok: {type: boolean}
        reply: {type: string}
        tool: {type: string, nullable: true, example: "create_ticket"}
        tool_ok: {type: boolean, nullable: true}
        redirect: {type: string, nullable: true}
        data: {type: object, nullable: true}
        needs_confirm: {type: boolean}
        provider: {type: string, example: heuristic_tools}
